{% extends "base_public.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        <br>
        <p>
            <a href="{% url 'articles:list' %}" class="btn btn-primary" role="button">View all articles</a>
        </p>
    {% else %}
        <p>You're not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}