{% extends "base_public.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.publish }}</p>
        <p>{{ object|linebreaks }}</p>
    </div>

    <hr>
    <h4>Comments</h4>
    {% for comment in article.comments.all %}
        <p>{{ comment.author }} &middot; {{ comment }}</p>
    {% endfor %}
    <hr>

    {% if article.author.pk == request.user.pk %}
        <p>
            <a href="{% url 'articles:edit' article.pk %}">Edit</a>
            <a href="{% url 'articles:delete' article.pk %}">Delete</a>
        </p>
    {% endif %}
    <p>Back to <a href="{% url 'articles:list' %}">all articles</a>.</p>
{% endblock content %}